body {
  margin-left: auto;
  margin-right: auto;
  background: url(../img/cream_dust.png); }

#intro, #search, #play {
  display: none; }

.clear {
  clear: both; }

.result {
  position: relative;
  padding: 10px;
  margin: 10px;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  border-left-width: 0px;
  border-right-width: 0px; }
  .result:hover {
    background-color: lightgrey;
    border-color: black; }
  .result a {
    text-decoration: none; }
    .result a span {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      /* In case any other links are present */
      z-index: 1;
      /* IE Hack */
      background-image: url("../img/empty.gif"); }

.history {
  width: 200px;
  display: table-cell; }

.left {
  float: left;
  margin-right: 15px; }

.right {
  float: right;
  margin-left: 15px; }

.hide {
  visibility: none; }

.inlineCenter {
  text-align: center; }

.blockCenter {
  margin-right: auto;
  margin-right: auto; }

.box {
  border: solid black 1px; }

/* JQuery UI autocomplete customization */
.ui-autocomplete-loading {
  background: white url("../img/ui-anim_basic_16x16.gif") right center no-repeat; }

#ytplayer, #videoInfo, #nextVidBox, #shareBox, #historyBox {
  padding-bottom: 25px; }

#historyBox {
  overflow-x: visible; }

#watchHistory {
  width: 100%;
  overflow-x: scroll; }

#shareLink {
  max-width: 100%; }
