/* Sticky Footer */
html, body {
    height: 100%;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#push {
    height: 60px;
}
#footer {
    height: 20px;
    padding: 20px;
    font-size: 95%;
    background-color: #e5e5e5;
    #feedback {
        text-align: right;
    }
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* End sticky footer */

body {
    margin-left: auto;
    margin-right: auto;
    background: url(../img/cream_dust.png)
}

#header {
    margin-bottom: 35px;
    img {
        padding: 15px;
        padding-top: 25px;
        width: 40%;
        min-width: 350px;
    }
}

#intro, #search, #play {
    display: none;
}

.clear {
    clear: both;
}

.result {
    position: relative;
    padding: 10px;
    margin: 10px;

    > img {
        height: 120px;
    }

    &:hover{
        background-color: #e5e5e5;
    }

    a {
        &:hover{
            text-decoration: none;
            color: #0088cc;
        }

        span {
            position:absolute;
            width:100%;
            height:100%;
            top:0;
            left: 0;
            /* In case any other links are present */
            z-index: 1;
            /* IE Hack */
            background-image: url('../img/empty.gif');
        }
    }
}

#historyBox {
    white-space: nowrap;
    overflow-x: scroll;
}

.history {
    width: 15%;
    display: inline-block;
    margin: 15px;
    > p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.left {
    float: left;
    margin-right: 15px;
}

.right {
    float: right;
    margin-left: 15px;
}
.hide {
    visibility: none;
}
.inlineCenter {
    text-align: center;
}
.inlineRight {
    text-align: right;
}
.blockCenter {
    margin-right: auto;
    margin-right: auto;
}
.box {
    border: solid black 1px;
}

/* JQuery UI autocomplete customization */
.ui-widget {
    font-size: 14px;
}
.ui-autocomplete-loading {
    background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
}

#ytplayer, #videoInfo, #nextVidBox, #shareBox, #historyBox{
    padding-bottom: 25px;
}

