{% extends "adventure/base.html" %}
{% block content %}
    <div id="intro" class="row-fluid">
        <p class="span4 offset4 lead">This is YouTube Adventure.<br>Select a starting video to begin your adventure.</p>
    </div>
    <div id="search" class="row-fluid">
        <div id="search_results" class="span6 offset3">
        </div>
    </div>
    <div id="play" class="row-fluid">
        <div id="sidebar" class="span4">
            <div id="nextVid"></div>
            <div id="share"><span class="lead">Share this video:</span><br><input id="shareLink" type="text"></input></div>
            <div id="history"></div>
        </div>
        <div class="span8">
            <div id="ytplayer">You need Flash player 8+ and JavaScript enabled to view this video.</div>
            <div id="videoInfo"></div>
        </div>
    </div>
{% endblock %}
