{% extends "adventure/base.html" %}
{% block content %}
<div id="intro">
    <div class="row-fluid">
        <p class="span4 offset4 lead inlineCenter">This is YouTube Adventure.<br>Select a starting video to begin...</p>
    </div>
    <div class="row-fluid" id="introText">
        <p class="span4 offset4"><br>After that, we'll do all the work for you. We'll play you an endless stream of related videos without you having to lift a finger.
        <br>
        <br>
        If you'd like, you can control your adventure using the play and skip buttons.
        You can also change the relatedness of the next video with the adventure slider. 
        <br>
        <br>Happy adventuring!
        </p>
    </div>
</div>
<div id="search" class="row-fluid">
    <div id="search_results" class="span6 offset3">
    </div>
</div>
<div id="play">
    <div class="row-fluid">
        <div id="sidebar" class="span3">
            <div id="nextVidBox" class="well">
                <p class="lead">Up Next:</p>
                <div id="upNext"></div>
                <button id="play-it" class="btn btn-success" type="button"><i class="icon-thumbs-up icon-white"></i> Play It!</button>
                <button id="skip-it" class="btn btn-danger" type="button"><i class="icon-thumbs-down icon-white"></i> Skip It!</button>
            </div>
            <div class="well" id="slider-text">
                <p class="lead">Feeling adventurous?</p>
                <input type="hidden" id="adventure-type" style="border: 0; color: #000000; font-weight:bold;" />
                <p id="adventure-title" style="color: #000000;"></p>
                <div id="slider"></div>
            </div>
        </div>
        <div class="offset1 span8">
            <div id="ytplayer">You need Flash player 8+ and JavaScript enabled to view this video.</div>
            <div id="videoInfo"></div>
        </div>
    </div>
    <div class="row-fluid">
        <div id="shareBox" class="well span3"><p class="lead">Share this adventure:</p><input id="shareLink" class="span12" type="text"></input></div>
        <div class="well span9">
            <p class="lead">History:</p>
            <div id="watchHistory"></div>
        </div>
    </div>
</div>
{% endblock %}
