body {
  text-align: center;
  background: url(images/cream_dust.png); }

.center {
  margin: 0px auto; }

/* tr { */
/*     border-radius: 10px; */
/* } */
#search_bar {
  display: inline-block;
  border: 1px solid; }

#content {
  text-align: left;
  padding: 10px;
  margin: 50px auto; }

#search_results {
  border: 1px; }
  #search_results tr {
    cursor: pointer; }
    #search_results tr:hover {
      background-color: lightgrey;
      border: black 1px solid; }
  #search_results img {
    border-radius: 10px; }
