body {
    text-align: center;
    background: url(images/cream_dust.png)
}

.center {
    margin: 0px auto;
}

/* tr { */
/*     border-radius: 10px; */
/* } */

#search_bar {
    display: inline-block;
    border: 1px solid;
}

#content {
    text-align: left;
    padding: 10px;
    margin: 50px auto;
}

#search_results {
    border: 1px;
    
    tr {
        cursor: pointer;
        &:hover{
            background-color: lightgrey;
            display: table;
            border: black 1px solid;
        }
    }
    
    
	img {
	    border-radius: 10px;
	}
}