body {
    text-align: center;
    background: url(images/cream_dust.png)
}

.center {
    margin: 0px auto;
}

/* tr { */
/*     border-radius: 10px; */
/* } */

#search_bar {
    display: inline-block;
    border: 1px solid;
}

#content {
    text-align: left;
    padding: 10px;
    margin: 50px auto;
}

#search_results {
    padding: 10px 0;
    margin: auto;
    max-width: 55%;
    
    .clear {
        clear: both;
    }

    .result {
        position: relative;
        padding: 10px;
        margin: 10px;

        border: {
            width: 1px;
            color: transparent;
            style: solid;
            left: {
                width: 0px;
            }
            right: {
                width: 0px;
            }
        }

        &:hover{
            background-color: lightgrey;
            border: {
                color: black;
            }
        }

        span {
            position:absolute; 
            width:100%;
            height:100%;
            top:0;
            left: 0;
            /* In case any other links are present */
            z-index: 1;
            /* IE Hack */
            background-image: url('images/empty.gif');
        }   
    }
    
    img {
        float: left;
        margin-right: 15px;
        border-radius: 10px;
    }
}
